<div class="linkTo top">
  <%= link_to "<<計算画面", root_path %>
</div>
<h2><%= current_user.name %></h2>
<% if @records %>
  <% @records.each do |record| %>
    <%= record.created_at.strftime('%Y/%m/%d') %><br>
    <small>settings-> 半荘回数:<%= record.match_count.to_i %>,</small>
    <small>×<%= record.rate %>,</small>
    <small>基準点:<%= record.base_point.to_i %></small>
    <br>
    <small>total-> </small><%= record.result_point.to_i %><br>
    <% record.raw_scores.each do |raw_score| %>
      <small><li>
        <%= raw_score.score.to_i %>
        [<%= raw_score.rank.to_i %>位]
      </li></small>
    <% end %>
    <br>
  <% end %>
<% end %>